@page
@model UI.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}
<style>
    #container-error {
        text-align: center;
    }
</style>


<div id="container-error">
    <h1>Access Denied</h1>
    <p>You do not have permission to access this page.</p>
</div>

