@page
@model UI.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Warranty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Warranty.WarrantyId" />
            <div class="form-group">
                <label asp-for="Warranty.WarrantyPeriod" class="control-label"></label>
                <input asp-for="Warranty.WarrantyPeriod" class="form-control" />
                <span asp-validation-for="Warranty.WarrantyPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty.PeriodUnitmeasure" class="control-label"></label>
                <select asp-for="Warranty.PeriodUnitmeasure" class="form-control"></select>
                <span asp-validation-for="Warranty.PeriodUnitmeasure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty.ActiveDate" class="control-label"></label>
                <input asp-for="Warranty.ActiveDate" class="form-control" />
                <span asp-validation-for="Warranty.ActiveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty.EndDate" class="control-label"></label>
                <input asp-for="Warranty.EndDate" class="form-control" />
                <span asp-validation-for="Warranty.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty.JewelryId" class="control-label"></label>
                <select asp-for="Warranty.JewelryId" class="form-control" asp-items="ViewBag.JewelryId"></select>
                <span asp-validation-for="Warranty.JewelryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty.OrderId" class="control-label"></label>
                <select asp-for="Warranty.OrderId" class="form-control" asp-items="ViewBag.OrderId"></select>
                <span asp-validation-for="Warranty.OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
