@page
@model UI.Pages.IndexModel
@{
	Layout = "_Layout";
}
@using BusinessObjects.Enums;

@using static UI.PathDefine.Path;


<style>
	<style >
	.menu-home {
		background-color: white;
		justify-content: center;
		align-content: center;
		align-items: center;

	}

	#list {
		background-color: white;
		margin-top: 50px;
	}

	.row {
		margin-top: 10px;
	}

	.col-sm-4.space_all {
		padding: 15px;
	}

	.list_1i {
		border: 2px solid #FFDE4D;
		padding: 20px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		background-color: #f9f9f9;
		transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	}

		.list_1i:hover {
			transform: translateY(-5px);
			box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
		}

		.list_1i h4 {
			margin: 0;
			font-size: 25px;
		}

			.list_1i h4 a {
				text-decoration: none;
				color: #333;
			}

				.list_1i h4 a:hover {
					text-decoration: underline;
				}
</style>


</style>

<div class="container-lg menu-home">
	@if (Model.role != null && Model.role.Equals(AccountRole.MANAGER.ToString()))
	{
		<section id="list">
			<div class="container">
				<div class="feature_1 text-center clearfix">
					<div class="col-sm-12">
						<h3 class="mgt">JEWELRIES</h3><hr>
					</div>
				</div>
				<div class="row">
					<div class="list_1 clearfix">
						<div class="col-sm-4 space_all">
							<div class="list_1i text-center clearfix">
								<h4><a asp-page=@JEWELRY_INDEX_PATH>Jewelry Catalog</a></h4>
							</div>
						</div>
						<div class="col-sm-4 space_all">
							<div class="list_1i text-center clearfix">
								<h4><a asp-page=@MATERIAL_METAL_INDEX_PATH>Material Metal</a></h4>
							</div>
						</div>
						<div class="col-sm-4 space_all">
							<div class="list_1i text-center clearfix">
								<h4><a asp-page=@MATERIAL_GEM_INDEX_PATH>Material Gemstone</a></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</section>
	}
	@if (Model.role.Equals(AccountRole.MANAGER.ToString()) || Model.role.Equals(AccountRole.STAFF.ToString()))
	{
		<section id="list">
			<div class="container">
				<div class="feature_1 text-center clearfix">
					<div class="col-sm-12">
						<h3 class="mgt">TRANSACTIONS</h3>
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="list_1 clearfix">
						<div class="col-sm-4 space_all">
							<div class="list_1i text-center clearfix">
								<h4><a asp-page=@TRANSACTION_INDEX_PATH>Transaction List</a></h4>
							</div>
						</div>
						<div class="col-sm-4 space_all">
							<div class="list_1i text-center clearfix">
								<h4><a href=@TRANSACTION_SELL_PATH>Sell</a></h4>
							</div>
						</div>
						<div class="col-sm-4 space_all">
							<div class="list_1i text-center clearfix">
								<h4><a href=@TRANSACTION_BUY_PATH>Buy Back</a></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="list">
			<div class="container">
				<div class="feature_1 text-center clearfix">
					<div class="col-sm-12">
						<h3 class="mgt">WARRANTIES</h3>
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="list_1 clearfix">
						<div class="col-sm-4 space_all">
							<div class="list_1i text-center clearfix">
								<h4><a asp-page=@WARRANTY_INDEX_PATH>Warranty List</a></h4>
							</div>
						</div>
						<div class="col-sm-4 space_all">
							<div class="list_1i text-center clearfix">
								<h4><a asp-page=@WARRANTY_ACTIVATE_PATH>Activate Warranty</a></h4>
							</div>
						</div>
						<div class="col-sm-4 space_all">
							<div class="list_1i text-center clearfix">
								<h4><a asp-page=@WARRANTY_FIX_REQUEST_INDEX_PATH>Warranty Fix Request</a></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	}
</div>

