@page
@model UI.Pages.IndexModel
@{
    Layout = "_Layout";
}
@using BusinessObjects.Enums;
@using static UI.PathDefine.Path;
<style>
    .menu-home {
        background-color: white;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .table-container {
        width: 100%;
        border-collapse: collapse;
    }

        .table-container th, .table-container td {
            padding: 15px;
            text-align: left;
            vertical-align: top;
            background-color: #f9f9f9;
        }

        .table-container th {
            background-color: #f1f1f1;
        }

    .list_1i {
        padding: 20px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

        .list_1i:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .list_1i h6 {
            margin: 0;
            margin-left: 30px;
        }

                .list_1i h6 a:hover {
                    text-decoration: underline;
                }
    .feature_1 h3 {
        padding: 10px 0;
    }
</style>


<div class="container-lg menu-home">
    <table class="table-container">
        @if (Model.role != null && Model.role.Equals(AccountRole.MANAGER.ToString()))
        {
            <thead>
                <tr>
                    <th>JEWELRIES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="list_1i">
                        <h6><a asp-page=@JEWELRY_INDEX_PATH>Jewelry Catalog</a></h6>
                    </td>
                </tr>
                <tr>
                    <td class="list_1i">
                        <h6><a asp-page=@MATERIAL_METAL_INDEX_PATH>Material Metal</a></h6>
                    </td>
                </tr>
                <tr>
                    <td class="list_1i">
                        <h6><a asp-page=@MATERIAL_GEM_INDEX_PATH>Material Gemstone</a></h6>
                    </td>
                </tr>
            </tbody>
        }
        @if (Model.role.Equals(AccountRole.MANAGER.ToString()) || Model.role.Equals(AccountRole.STAFF.ToString()))
        {
            <thead>
                <tr>
                    <th>TRANSACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="list_1i">
                        <h6><a asp-page=@TRANSACTION_INDEX_SELL_PATH>Sell transaction</a></h6>
                    </td>
                </tr>
                <tr>
                    <td class="list_1i">
                        <h6><a asp-page=@TRANSACTION_BUY_PATH>Buy transaction</a></h6>
                    </td>
                </tr>
                <tr>
                    <td class="list_1i">
                        <h6><a href=@TRANSACTION_SELL_PATH>Sell</a></h6>
                    </td>
                </tr>
                <tr>
                    <td class="list_1i">
                        <h6><a href=@TRANSACTION_BUY_PATH>Buy Back</a></h6>
                    </td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th>WARRANTIES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="list_1i">
                        <h6><a asp-page=@WARRANTY_INDEX_PATH>Warranty List</a></h6>
                    </td>
                </tr>
                <tr>
                    <td class="list_1i">
                        <h6><a asp-page=@WARRANTY_ACTIVATE_PATH>Activate Warranty</a></h6>
                    </td>
                </tr>
                <tr>
                    <td class="list_1i">
                        <h6><a asp-page=@WARRANTY_FIX_REQUEST_INDEX_PATH>Warranty Fix Request</a></h6>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>
