@page
@model UI.Pages.LoginModel

@{
    Layout = "_Layout";
}

<style>
	.s-login {
		height: 100%;
	}
</style>


<section class="s-login flex items-center">
	<div class="flex items-center justify-center h-full gap-10 w-full">
		<div class="flex gap-10 h-40 w-full">
				<img src="~/img/login.jpg" width="300em" />
					<div class="detail_14 clearfix flex-1 h-full">
						<h2 class="mgt">Login</h2>
						<form method="post">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<div class="form-group">
								<label asp-for="Account.Email" class="control-label"></label>
						<input asp-for="Account.Email" type="text" class="form-control input-primary" placeholder="Email*">
								<span asp-validation-for="Account.Email" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Account.Password" class="control-label"></label>
						<input asp-for="Account.Password" type="password" class="form-control input-primary" placeholder="Password*">
								<span asp-validation-for="Account.Password" class="text-danger"></span>
							</div>
					<input type="submit" value="Login" class="btn button-primary" />
						</form>
						@if (Model.Message != null)
						{
							<p>@Model.Message</p>
						}
					</div>

		</div>
	</div>
</section>

@* <h1>Login</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account.Email" class="control-label"></label>
                <input asp-for="Account.Email" class="form-control" />
                <span asp-validation-for="Account.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Password" class="control-label"></label>
                <input asp-for="Account.Password" class="form-control" />
                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@