@page
@model UI.Pages.Promotions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Promotion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Promotion.PromotionCode" class="control-label"></label>
                <input asp-for="Promotion.PromotionCode" class="form-control" />
                <span asp-validation-for="Promotion.PromotionCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promotion.PromotionName" class="control-label"></label>
                <input asp-for="Promotion.PromotionName" class="form-control" />
                <span asp-validation-for="Promotion.PromotionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promotion.StartDate" class="control-label"></label>
                <input asp-for="Promotion.StartDate" class="form-control" />
                <span asp-validation-for="Promotion.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promotion.EndDate" class="control-label"></label>
                <input asp-for="Promotion.EndDate" class="form-control" />
                <span asp-validation-for="Promotion.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promotion.DiscountValue" class="control-label"></label>
                <input asp-for="Promotion.DiscountValue" class="form-control" />
                <span asp-validation-for="Promotion.DiscountValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promotion.AcceptedPrice" class="control-label"></label>
                <input asp-for="Promotion.AcceptedPrice" class="form-control" />
                <span asp-validation-for="Promotion.AcceptedPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promotion.PromotionType" class="control-label"></label>
                <input asp-for="Promotion.PromotionType" class="form-control" />
                <span asp-validation-for="Promotion.PromotionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
