@page
@model UI.Pages.Jewelries.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Message</h1>

<h3>  @Model.message</h3>
<div>
    <form method="post">
        <input type="hidden" asp-for="Jewelry.JewelryId" />
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
