@page
@model UI.Pages.Jewelries.EditModel

@{
    ViewData["Title"] = "Edit";
}

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<style>
    .row {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    h3 {
        margin-top: 20px;
    }
</style>

<h1>Edit Jewelry</h1>

<hr />
<form method="post">
     <div class="form-group">
        @* Display any custom message *@
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            
            <div class="alert alert-danger d-flex align-items-center mt-3 mb-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                    <div class="text-danger">@Model.Message</div>
                </div>
            </div>
        }
    </div>
    <div class="form-group">
        @* Display the model state errors here *@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <div class="row-md">
        <div class="col-md">
            <div asp-validation-summary="ModelOnly">
                <div class="alert alert-danger d-flex align-items-center mt-3 mb-3" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill" />
                    </svg>
                    <div>
                        <div class="text-danger">@Model.Message</div>
                    </div>
                </div>
            </div>
            <h3>Product Information</h3>
            <input type="hidden" asp-for="Jewelry.JewelryId" />
            <div class="row">
                <div class="form-group col-6">
                    <label class="control-label">Jewelry Name </label>
                    <input asp-for="Jewelry.JewelryName" class="form-control" type="text" />
                    <span asp-validation-for="Jewelry.JewelryName" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label class="control-label">Category</label>
                    <select asp-for="Jewelry.CategoryName" class="form-control" asp-items=@Model.CategoryOptions></select>
                </div>
                <div class="form-group col-3">
                    <label class="control-label"> Total Weight </label>
                    <div class="input-group">
                        <input asp-for="Jewelry.TotalWeight" class="form-control" type="number" min="0.01" />
                        <span class="input-group-text">gam</span>
                    </div>
                    <span asp-validation-for="Jewelry.TotalWeight" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label class="control-label">Description</label>
                </div>
                <div id="editor" style="min-height: 200px;">
                    <p>
                        @Html.Raw(@Model.Jewelry.Description)
                    </p>
                </div>
                <textarea asp-for="Jewelry.Description" id="jewelryDescription" style="display:none;"></textarea>
                <span asp-validation-for="Jewelry.Description" class="text-danger"></span>
            </div>
            <h3>Product Price</h3>
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label">Labor Price</label>
                    <div class="input-group">
                        <input asp-for="Jewelry.LaborPrice" class="form-control" placeholder="0" />
                        <span class="input-group-text">VNĐ</span>
                    </div>
                    <span asp-validation-for="Jewelry.LaborPrice" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Markup Percentage</label>
                    <input asp-for="Jewelry.MarkupPercentage" class="form-control" type="number" min=0 placeholder="0" />
                    <span asp-validation-for="Jewelry.MarkupPercentage" class="text-danger"></span>
                </div>
            </div>
            <h3>Stock Inventory</h3>
            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="Jewelry.Quantity" class="control-label"></label>
                    <input asp-for="Jewelry.Quantity" class="form-control" type="number" min=0 placeholder="0" />
                    <span asp-validation-for="Jewelry.Quantity" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Sale Status</label>
                    <select asp-for="Jewelry.StatusSale" class="form-control" asp-items=@Model.SaleStatusOptions></select>
                    <span asp-validation-for="Jewelry.StatusSale" class="text-danger"></span>
                </div>
            </div>
            <h3>Product Images</h3>
            <div class="row col-md-6">
                <label class="control-label">Upload Images</label>
                <div class="input-group">
                    <input asp-for="Jewelry.ImageDataFile" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" accept="image/*">
                    <button class="btn btn-secondary" type="button" id="loadFileButton">Load file</button>
                </div>
                <div class="row col mt-4" id="imagePreviewContainer">
                    <!-- Preview images will be shown here -->
                </div>
            </div>
            <div class="form-group">
                <input style="width: 100px" type="submit" value="Update" class="btn btn-primary mt-4 mb-3" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<!-- Initialize Quill editor -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    var quill = new Quill('#editor', {
        theme: 'snow'
    });
    document.getElementById('jewelryForm').addEventListener('submit', function (e) {
        // Copy the HTML content from Quill editor to the hidden textarea
        var description = document.getElementById('jewelryDescription');
        description.value = quill.root.innerHTML;
    });
</script>

<!-- Preview upload images -->
<script>
    document.getElementById('loadFileButton').addEventListener('click', function () {
        var input = document.getElementById('inputGroupFile04');
        var imagePreviewContainer = document.getElementById('imagePreviewContainer');

        imagePreviewContainer.innerHTML = ''; // Clear previous images

        var files = input.files;

        if (files.length === 0) {
            alert('No files selected.');
            return;
        }
        if (files.length > 1) {
            alert('Select one image only');
            return;
        }

        for (var i = 0; i < files.length; i++) {
            var file = files[i];

            if (file.type.startsWith('image/')) {
                var reader = new FileReader();

                reader.onload = (function (file) {
                    return function (e) {
                        var div = document.createElement('div');
                        div.classList.add('col-sm-auto', 'mb-3');
                        div.style.position = 'relative';
                        div.style.display = 'inline-block';

                        var img = document.createElement('img');
                        img.src = e.target.result;
                        img.classList.add('img-thumbnail');
                        img.style.width = '100px';
                        img.style.height = '100px';

                        var removeButton = document.createElement('button');
                        // removeButton.innerText = 'x';
                        removeButton.classList.add('btn', 'btn-close', 'btn-md');
                        removeButton.style.position = 'absolute';
                        removeButton.style.top = '5px';
                        removeButton.style.right = '5px';
                        removeButton.style.borderRadius = '50%';

                        removeButton.addEventListener('click', function () {
                            div.remove();
                        });

                        div.appendChild(img);
                        div.appendChild(removeButton);
                        imagePreviewContainer.appendChild(div);

                    };
                })(file);

                reader.readAsDataURL(file);
            } else {
                alert('Only images are allowed.');
            }
        }
    });
</script>

