.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

h3 {
    margin-top: 20px;
}


label {
    font-weight: bold;
    margin-bottom: 5px;
}

#product-info-title {
    margin: 20px auto;
    color: cornflowerblue;
}

.image-section {
    border: 1px solid #ccc;
    background-color: none;
    text-align: center;
    align-content: center;
    border-radius: 5px;
}

.product-info {
    margin: auto 10px;
}

.material-info .gemstone-info {
    height: 100%;
}

.control-label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.product-form {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 1400px;
}

#productimg {
    width: 100%;
    height: 100%;
    background-color: none;
}

.information-section {
    background-color: none;
    justify-content: center;
    align-content: center;
}

    .information-section .form-group {
        margin-bottom: 20px;
    }

.section {
    margin-top: 10px;
}

#sale-price {
    height: 50px;
    background-color: #F3F7EC;
    color: black;
    font-weight: bold;
    font-size: 18px;
}





