@using static UI.PathDefine.Path;
@using BusinessObjects.Enums;
@{
	var role = Context.Session.GetString("ROLE");
	var userId = Context.Session.GetInt32("ID");
	var fullname = Context.Session.GetString("FULLNAME");
	var email = Context.Session.GetString("EMAIL");
	var isAuthenticated = Context.Session.GetString("ISAUTHENTICATED");

}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jewelry</title>
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/css/global.css" rel="stylesheet">
	<link href="~/css/contact.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
	<script src="~/js/jquery-2.1.1.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
</head>
<style>
	body {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.flex-1 {
		flex: 1;
	}

	.flex {
		display: flex;
	}

	.h-full {
		height: 100%;
	}

	.w-full {
		width: 100%;
	}

	.flex-col {
		flex-direction: column;
	}
	.items-center {
		align-items: center;
	}
	.justify-center {
		justify-content: center;
	}

	.gap-10 {
		gap: 2.5rem;
	}

	.p-2 {
		padding: 2rem;
	}

	.p-14px {
		padding: 14px;
	}
	
	.input-primary {
		border-color: #dfb858 !important;
		border-radius: 4px !important;
		font-weight: 400 !important;
	}

	.input-primary::placeholder {
		font-weight: 400 !important;
	}

	.button-primary {
		background-color: #dfb858 !important;
		color: #fff; 
		border: none;
		padding: 10px 20px;
		font-size: 16px; 
		cursor: pointer; 
		transition: background-color 0.3s ease;
		text-align: center;
	}

	.button-primary:hover {
		background-color: #cfa447 !important; 
	}
</style>
<body class="vh-100">
	<div id="menu">
		<nav class="navbar nav_t">
			<div class="container">
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					@{
						//var role = Context.Session.GetString("ROLE");
						switch (role)
						{
							case "ADMIN":
								<a class="navbar-brand" asp-page="Admin">
									<i class="fa fa-diamond"></i> <span class="col">Jewe</span>lry
								</a>
								break;
							case "STAFF":
								<a class="navbar-brand" asp-page="Staff">
									<i class="fa fa-diamond"></i> <span class="col">Jewe</span>lry
								</a>
								break;
							case "MANAGER":
								<a class="navbar-brand" asp-page="Manager">
									<i class="fa fa-diamond"></i> <span class="col">Jewe</span>lry
								</a>
								break;
							default:
								<a class="navbar-brand" asp-page="Login">
									<i class="fa fa-diamond"></i> <span class="col">Jewe</span>lry
								</a>
								break;
						}
					}
				</div>

				@if(role != null )
				{
					<!-- Brand and toggle get grouped for better mobile display -->
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav nav_m">
							@if (role.Equals(AccountRole.MANAGER.ToString()) || role.Equals(AccountRole.STAFF.ToString()))
							{
								<li><a class="m_tag " asp-page=@JEWELRY_INDEX_PATH>Jewelry</a></li>
								<li class="dropdown">
									<a class="m_tag" href="#" data-toggle="dropdown" role="button"
									   aria-expanded="false">Material<span class="caret"></span></a>
									<ul class="dropdown-menu drop_3" role="menu">
										@* <li><a asp-page=@MATERIAL_METAL_INDEX_PATH>Metal</a></li> *@
										<li><a asp-page=@MATERIAL_GEM_INDEX_PATH>Gemstone</a></li>
									</ul>
								</li>
							}
							@if (role.Equals(AccountRole.MANAGER.ToString()) || role.Equals(AccountRole.STAFF.ToString()))
							{
								<li class="dropdown">
									<a class="m_tag" href="#" data-toggle="dropdown" role="button"
									   aria-expanded="false">Transaction<span class="caret"></span></a>
									<ul class="dropdown-menu drop_3" role="menu">
										<li><a asp-page=@TRANSACTION_INDEX_SELL_PATH>Sell List</a></li>
										<li><a asp-page=@TRANSACTION_INDEX_BUY_PATH>Buy List</a></li>
										<li><a asp-page=@TRANSACTION_SELL_PATH>Sell</a></li>
										<li><a asp-page=@TRANSACTION_BUY_PATH>Buy Back</a></li>
									</ul>
								</li>

								<li class="dropdown">
									<a class="m_tag" href="#" data-toggle="dropdown" role="button"
									   aria-expanded="false">Warranty<span class="caret"></span></a>
									<ul class="dropdown-menu drop_3" role="menu">
										<li><a asp-page=@WARRANTY_INDEX_PATH>Warranty List</a></li>
										<li><a asp-page=@WARRANTY_ACTIVATE_PATH>Warranty Activation</a></li>
										<li><a asp-page=@WARRANTY_FIX_REQUEST_INDEX_PATH>Warranty Fix Request</a></li>
									</ul>
								</li>
							}
							@if (role.Equals(AccountRole.MANAGER.ToString()))
							{
								<li><a class="m_tag " asp-page=@PROMOTION_INDEX_PATH>Promotions</a></li>
							}
							@if (role.Equals(AccountRole.ADMIN.ToString()))
							{
								<li><a class="m_tag " asp-page=@ACCOUNT_INDEX_PATH>Accounts</a></li>
							}
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li><a class="m_tag" asp-page="/Logout">Logout</a></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				}
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>

	<div class="flex-1 p-14px">
		@RenderBody()
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>