@page
@model UI.Pages.Accounts.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}

<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="col-sm-6">
                    <div class="center_shop_tl clearfix d-flex align-items-center">
                        <h4 class="mgt">NEW GEM</h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="center_shop_tr text-right clearfix">
                        <h6 class="col_2">You are here: <a asp-page="Gems/Index">Home</a> / Gem</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<form method="post">
    <section id="checkout" class="clearfix">
        <div class="container">
            <div class="row">
                <div class="checkout_1 clearfix">
                    <div class="checkout_1l1 clearfix">
                        <div class="col-sm-6 space_left">
                            <h5>Email <span class="col_1">*</span></h5>
                            <input asp-for="@Model.Account.Email" class="form-control" type="text">
                        </div>
                        <div class="col-sm-6 space_left">
                            <h5>Password <span class="col_1">*</span></h5>
                            <input asp-for="@Model.Account.Password" class="form-control" type="number">
                        </div>

                    </div>
                    <div class="checkout_1l1 clearfix">
                        <div class="col-sm-6 space_left">
                            <h5>Phone number <span class="col_1">*</span></h5>
                            <input asp-for="@Model.Account.PhoneNumber" class="form-control" type="number">
                        </div>
                        <div class="col-sm-6 space_left">
                            <h5>Role <span class="col_1">*</span></h5>
                            <select asp-for="@Model.Account.Role" class="form-control" asp-items="Model.RoleOptions"></select>
                        </div>
                    </div>
                    <div class="checkout_1l1 clearfix">
                        <h4 class="mgt"><input class="button" type="submit" value="CREATE" /></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
