@page
@model UI.Pages.Orders.Buy.IndexModel
@{
}

<style>
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid #ddd
    }
</style>

<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="col-sm-6">
                    <div class="center_shop_tl clearfix d-flex align-items-center">
                        <h4 class="mgt"><a class="button" asp-page="./Create">CREATE</a></h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="center_shop_tr text-right clearfix">
                        <h6 class="col_2">You are here: <a asp-asp-page="Gems/Index">Home</a> / Gem</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="center_shop_tl clearfix">
                    <table class="table table-striped table-center">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Phone number</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model.Orders)
                            {
                                <tr class="d-flex justify-content-center">
                                    <td>@order.OrderId</td>
                                    <td>@order.OrderDate</td>
                                    <td>@order.Customer.PhoneNumber</td>
                                    <td>
                                        <a class="button" asp-page="./Detail" asp-route-id="@order.OrderId">Detail</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>